body {
  background-image: url(ask-user.jpg);
}

audio {
  width: 100%;
  background-color: rgba(0,0,0,0);
}

input {
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 30px;
  border-radius: 7px;
  border: 1px solid #D9D9D9;
}
input::placeholder {
  font-size: 20px;
  color: #AAA;
}
input:hover {
  color: #333;
  background-color: rgb(255, 255, 240);
}

#choice2 {
  width: 70%;
  background-color: rgba(0,0,0,0);
  display: flex;
  margin: auto;
  margin-top: 15%;
}

.user-info {
  font-size: 25px;
  padding: 5px;
  text-align: center;
  border: 1px black 5px;
  width: 100%;
}

#Purpose-div, #Genre-div, #Feeling-div {
  width: 100%;
}

#find-music {
  width: 20%;
  margin: auto;
  margin-top: 5px;
  font-size: 20px;
  font-family: monospace;
  text-align: center;
  border-radius: 30px;
  color: #333;
  display: block;
  background-color: rgb(100,230,230);
  border: 0px;
  padding: 0;
  scale: 0.7;
}
#find-music:hover {
  background-color: rgb(100,230,230);
  color: #FFF;
  scale: 0.75;
}



#quote {
  position: relative;
  font-size: 20px;
  font-family: arial;
  left: 0;
  right: 0;
  text-align: center;
  color: #FFF;
}
