body {
    background-image: url(test_image.jpeg);
    background-size: cover;
  }

audio {
  width: 100%;
  background-color: rgba(0,0,0,0);
}

#song-playing {

}

#music-list {
  width: 65%;
  height: auto;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  border: 3px black;
  margin: auto;

}
#user-info {
  font-size: 25px;
  padding: 5px;
  width: 60%;
  text-align: center;
}
.song-info {
  margin: 5px;
  font-size: 30px;
  font-family: arial;
  color: #FFF;
}
